Importa le librerie pandas, numpy e matplotlib e scrivi nella cella sottostante i nomi dei componenti del gruppo.

In [13]:
# Codice qui
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Considera il dataset csv disponibile al presente indirizzo:

https://raw.githubusercontent.com/giovastabile/elaborazione_statistica/main/FinalProject/heart.csv

Dove le varie colonne hanno il seguente significato

1 age \
2 sex \
3 chest pain type (4 values) \
4 resting blood pressure \
5 serum cholestoral in mg/dl \
6 fasting blood sugar > 120 mg/dl \
7 resting electrocardiographic results (values 0,1,2) \
8 maximum heart rate achieved \
9 exercise induced angina \
10 oldpeak = ST depression induced by exercise relative to rest \
11 the slope of the peak exercise ST segment \
12 number of major vessels (0-3) colored by flourosopy \
13 thal: 0 = normal; 1 = fixed defect; 2 = reversable defect \
14 The names and social security numbers of the patients were recently removed from the database, replaced with dummy values.

Leggi il dataset creando un dataframe pandas chiamato `df`

In [17]:
### Codice QUA
df = pd.read_csv("https://raw.githubusercontent.com/giovastabile/elaborazione_statistica/main/FinalProject/heart.csv")

Utilizza le funzionalità di pandas per calcolare delle quantità statistiche di base del dataframe

In [27]:
### Codice qui
df.describe()
df.count()

age         1022
sex         1025
cp          1025
trestbps    1025
chol        1024
fbs         1025
restecg     1025
thalach     1024
exang       1025
oldpeak     1025
slope       1025
ca          1025
thal        1025
target      1025
dtype: int64

Pulisci il dataset e rimuovi i pazienti con età errate

In [25]:
df_ok = df[(df.age>0) & (df.age<100)]
df_ok.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1020.000000,1020.000000,1020.000000,1020.000000,1019.000000,1020.000000,1020.000000,1019.000000,1020.000000,1020.00000,1020.000000,1020.000000,1020.000000,1020.000000
mean,54.456863,0.697059,0.941176,131.625490,246.020608,0.150000,0.528431,149.016683,0.338235,1.07549,1.384314,0.757843,2.324510,0.510784
std,9.078174,0.459755,1.028767,17.533116,51.719458,0.357247,0.528088,23.015001,0.473341,1.17629,0.618134,1.031966,0.621489,0.500129
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,132.000000,0.000000,0.00000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,152.000000,0.000000,0.80000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.500000,0.000000,1.000000,166.000000,1.000000,1.80000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,2.000000,4.000000,3.000000,1.000000

Controlla se ci sono valori non numerici nella colonna thalach

In [26]:
df.thalach = pd.to_numeric(df.thalach,
                              errors = 'coerce')

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []